@model PersonalWebsite.Data.Models.Blog

@{    
    var location = "Blog/" + Model.Title;
    ViewBag.Title = Model.Title;
}

<div class="content-main-scroll scrollbar-inner" style="background-color: rgb(252,252,252);">
    <div style="padding-bottom:50px;">
        <div id="postHeader" style="z-index:3; position:absolute; width:100%;">
            <div style="margin:0px; font-weight:bold; border-bottom:solid 1px rgb(143,145,145);"></div>
            <div class="contentMain-header pinnable" style="background:linear-gradient(rgba(182,182,185, 1), rgb(229,233,233,.85)) !important;">
                <div class="expandableSection-header" style="background: none; padding: 0;">
                    <a class="btnBack" href="@Url.Content("~/v1")" style="padding-right:10px; padding-top: 4px; font-size: 25px;">
                        <i class="far fa-arrow-alt-circle-left"></i>
                    </a>
                    <div style="line-height:39px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        @Model.Title
                    </div>
                </div>
            </div>                
            <div style="margin:0px; font-weight:bold; border-bottom:solid 1px rgb(209,211,211);"></div>
        </div>
        <div class="pinnableContent" style="width: 650px; display: block; margin: auto; padding-top:66px; padding-right: 10px; background-color:rgb(252,252,252);">
            <div class="blog-item-details" style='font-size:16px !important; font-family: "PT Sans", sans-serif; padding: 25px 0px; color: rgb(51, 51, 51); margin-bottom:50px;'>

                <div>
                    <h1 style="margin: 0 auto 10px; font-size: 2.25em; line-height: 1.33333em;">@Model.Title</h1>

                    <div style="padding-bottom: 24px; color: #757575; font-size: .875em; line-height: 1.71429em;">Posted on @Html.Raw(Model.Date.ToShortDateString()) 
                        @if (Model.Date.Hour != 0)
                        {
                            @:at @Html.Raw(Model.Date.ToShortTimeString())
                        }                                                
                    </div>
                </div>

                @if (!string.IsNullOrWhiteSpace(Model.HeaderImage))
                {
                    <div style="padding-bottom:20px;">
                        <img style="width: 100%; margin:auto;  display: block" src="../../../@(Url.Content("~"))@(Model.HeaderImage)">
                    </div>
                }

                @Html.Raw(Model.Content)
            </div>
        </div>

        <div class="hideMobile" style="z-index:3; position:fixed; bottom:0px; ">
            <div style="margin:0px; font-weight:bold; border-bottom:solid 1px rgb(209,211,211);"></div>
            <div class="contentMain-header pinnable" style="background: linear-gradient(rgba(240,240,240, .85) 25%, rgba(253,253,253, .95)) !important;">
                <div class="expandableSection-header" style="background: none; padding: 0;">
                    <div id="crossPostData">
                        @if (Model.BlogCrossPosts != null)
                        {
                            @:<span style="float:right;">

                            foreach (var crossPost in Model.BlogCrossPosts)
                            {
                                <text>
                                    <span style="padding:10px;">
                                        <span style="">
                                            <span data-target="@(crossPost.BlogUrl)" data-sociallink="CrossPost" title="@(Html.Raw(crossPost.Description))" class="socialLink @(crossPost.IconCss)" style="color:rgb(65, 65, 65) !important;"></span>
                                        </span>
                                    </span>                                
                                </text>
                            }

                            @:</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    @{ 
    #if !DEBUG
        @:ga('send', 'pageview', "@location");
    #endif
    }

    function setBlogEntry() {
        $("#crossPostData").width($(".pinnableContent").parent().width() - 25);
        $("#postHeader").width($(".pinnableContent").parent().width() - 8);
    }

    $(window).resize(function () {
        setBlogEntry();
    });

    setBlogEntry();

</script>